img{ 
    width:70px; height: auto;
    position: absolute;
    top: 10px; 
    right: 10px;
}
body {
    background-color: rgb(156, 185, 185);
}
.postcard {
    background-color: white;
    width: 500px;
    height:300px;
     margin: auto;
     position: relative;
     padding:15px;
     margin-top: 400px;
    }
.bodyleft {
   float:left;
   width:44%;
   margin-right: 50px;
}
.bodyright {
    float:right;
    width:45%;
    margin: left;  
}
.footer {
    width:100%;
    text-align: center;
}
.content{
    height: 60%;
}
